# LangChain Core Packages
langchain
langchain_community

# LangChain LLM Service Provider modules
langchain-groq
langchain-openai
langchain-ollama
langchain-google-genai
langchain-nvidia-ai-endpoints
langchain-huggingface

# LangChain Vector Database Packages
langchain-qdrant

# LangGraph
langgraph

# Others
dotenv
loguru
typing_extensions
sentence-transformers
yt_dlp
pygraphviz